flask_cors
SQLAlchemy==2.0.20
peewee==3.16.2
python-dotenv==0.21.1
pymysql
Flask
mailjet_rest
mailtrap
flask_jwt_extended
Flask-Cors==4.0.0
Flask-Mail==0.9.1
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.0.5
jsonschema
alembic==1.12.0
aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.5.0
async-timeout==4.0.3
gunicorn
beautifulsoup4==4.12.2
cryptography
dataclasses-json==0.5.14
elevenlabs==0.2.26
faiss-cpu==1.7.4
Flask
flask_jwt_extended
Flask-Cors==4.0.0
Flask-Mail==0.9.1
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.0.5
flatbuffers==23.5.26
frozenlist==1.4.0
fsspec==2023.9.0
jsonschema
google==3.0.0
google-api-core==2.11.1
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-cloud==0.34.0
google-cloud-speech==2.21.0
google-pasta==0.2.0
googleapis-common-protos==1.60.0
grpcio==1.58.0
grpcio-status==1.58.0
h5py==3.9.0
Jinja2==3.1.2
jsonschema==4.18.6
jsonschema-specifications==2023.7.1
langchain==0.0.291
langsmith==0.0.37
llama-index==0.8.27
Mako==1.2.4
marshmallow==3.20.1
midjourney-api
multidict==6.0.4
mypy-extensions==1.0.0
nltk==3.8.1
numexpr==2.8.6
oauthlib==3.2.2
openai==0.28.0
peewee==3.16.2
Pillow==10.0.1
proto-plus==1.22.3
pydantic==2.3.0
pydantic_core==2.6.3
pydub==0.25.1
PyJWT==2.6.0
PyMySQL==1.1.0
pytest==7.4.0
pytest-check==2.2.0
pytest-flask==1.2.0
python-dateutil==2.8.2
python-dotenv==0.21.1
PyYAML==6.0.1
regex==2023.8.8
peewee-enum-field
requests==2.31.0
flask_cors
requests-oauthlib==1.3.1
soupsieve==2.5
social-post-api==1.1.1
SQLAlchemy==2.0.20
tenacity==8.2.3
tiktoken==0.5.1
tqdm==4.66.1
typing-inspect==0.9.0
typing_extensions==4.7.1
urllib3==1.26.16
websockets==11.0.3
Werkzeug==2.3.6
yarl==1.9.2
